<p>Name: {{ character.name }}</p>
<p>Race: {{ character.race }}</p>
<p>Class: {{ character.class }}</p>
<p>Hit Points: {{ character.hitPoints }}</p>
<p>Abilities:</p>
<ul>
  <li>Strength: {{ character.abilities.Strength }}</li>
  <li>Dexterity: {{ character.abilities.Dexterity }}</li>
  <li>Constitution: {{ character.abilities.Constitution }}</li>
  <li>Intelligence: {{ character.abilities.Intelligence }}</li>
  <li>Wisdom: {{ character.abilities.Wisdom }}</li>
  <li>Charisma: {{ character.abilities.Charisma }}</li>
</ul>
