<div class="container">
  <div *ngIf="character">
    <p>Race: {{ character.race }}</p>
    <p>Class: {{ character.class }}</p>
    <p>Hit Points: {{ character.hitPoints }}</p>
    <mat-list role="list">
      <h4>Abilities:</h4>
      <mat-list-item role="listitem">Strength-{{ character.abilities.Strength }}</mat-list-item>
      <mat-list-item role="listitem">Dexterity-{{ character.abilities.Dexterity }}</mat-list-item>
      <mat-list-item role="listitem">Constitution-{{ character.abilities.Constitution }}</mat-list-item>
      <mat-list-item role="listitem">Intelligence-{{ character.abilities.Intelligence }}</mat-list-item>
      <mat-list-item role="listitem">Wisdom-{{ character.abilities.Wisdom }}</mat-list-item>
      <mat-list-item role="listitem">Charisma-{{ character.abilities.Charisma }}</mat-list-item>
    </mat-list>
  </div>
  <button class="genBtn" (click)="generateCharacter()">Generate</button>
</div>





